<%- include('./blogs/partials/header') %> <%- include('./blogs/partials/navbar') %>
<div class="alert alert-danger selfForm text-start" role="alert">Error Page!!! <%=error %></div>

<%- include('./blogs/partials/footer') %>
